<div class="container mt-5 mb-5">

    <div class="d-flex justify-content-center row">
        {{#each order}}
        <div class="col-md-10">
            <div class="row p-2 bg-white border rounded">
                <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image"
                        style="width: 8rem;" src="/images/{{product.img.[1]}}"></div>
                <div class="col-md-6 mt-1">
                    <h5>{{product.brand}}</h5>
                    <div class="d-flex flex-row">
                    </div>
                    <p class="text-justify text-truncate para mb-0">{{product.description}}<br><br></p>
                </div>
                <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                    <div class="d-flex flex-row align-items-center">
                        <h4 class="mr-1">₹{{product.offerPrice}}</h4>
                    </div>
                    <h6 class="text-success">Free shipping</h6>
                </div>
            </div>

        </div>
        {{/each}}
    </div>
</div>