

<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <a class="navbar-brand" href="/admin" style="font-weight: 500;">ADMIN</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" href="/admin/products"> <i class='bx bx-box text-dark'></i> All Products</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/admin/all-users"> <i class='bx bx-list-ul text-dark'></i> All Users</a>
      </li>

  <li class="nav-item">
        <a class="nav-link" href="/admin/view-category"> <i class='bx bx-pie-chart-alt-2 text-dark'></i> All Category</a>
      </li>

 <li class="nav-item">
        <a class="nav-link" href="/admin/all-order"><i class='bx bx-user text-dark'></i> All orders</a>
      </li>

 <li class="nav-item">
        <a class="nav-link" href="/admin/add-banner"><i class="fa-solid fa-image text-dark"></i> Banner</a>
      </li>

<li class="nav-item">
        <a class="nav-link" href="/admin/report"> <i class="fa fa-area-chart text-dark"></i>Report</a>
      </li>

      


     
 


  </div>
   <a href="/admin/admin-logout">
           
            <span class="links_name btn bg-Dark text-light">Log out</span>
          </a>
</nav>